:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  body { background: #333; color: #fff; }
}

@media (prefers-color-scheme: light) {
  body { background: #fff; color: #000; }
}
